<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://www.aut.ac.nz/__data/assets/image/0006/92328/placeholder-image10.jpg"
      alt=""
      height="200px"
    />
  </div>

  <div class="big-card__title">
    <h1><a href="">Saiu a nova versão do Angular</a></h1>
  </div>

  <div class="big-card__description">
    <p>
      <a href="">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto
        nostrum at hic recusandae perferendis sapiente quisquam aliquam,
        blanditiis, suscipit consectetur porro eius corporis veniam corrupti
        earum ea beatae magnam consequatur?
      </a>
    </p>
  </div>
</div>
