
<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      photoCover="https://www.aut.ac.nz/__data/assets/image/0006/92328/placeholder-image10.jpg"
      cardTitles="Lorem, ipsum dolor sit amet consectetur"
      cardDescription="Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    Architectonostrum at hic recusandae perferendis sapiente quisquam aliquam,
    blanditiis, suscipit consectetur porro eius corporis veniam corrupti
    earum ea beatae magnam consequatur?"
    >
    </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      photocover="https://www.aut.ac.nz/__data/assets/image/0006/92328/placeholder-image10.jpg"
      cardTitle="Lorem, ipsum dolor sit amet consectetur"
    >
    </app-small-card>
    <app-small-card
      photocover="https://www.aut.ac.nz/__data/assets/image/0006/92328/placeholder-image10.jpg"
      cardTitle="Lorem, ipsum dolor sit amet consectetur"
    >
    </app-small-card>
    <app-small-card
      photocover="https://www.aut.ac.nz/__data/assets/image/0006/92328/placeholder-image10.jpg"
      cardTitle="Lorem, ipsum dolor sit amet consectetur"
    >
    </app-small-card>
  </div>
</div>
